<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <span class="text-turquoise" ng-click="cancelAddBox()"><span class="fa fa-arrow-left"></span>&nbsp; {{ AppText.system.back | language }}</span>
    <div class="padding-well">
      <div>
        <span class="h3 bold text-blue" ng-bind="newBox.name" style="margin-bottom: 0"></span> 
        <div ng-show="newBox.displayDetails" class="form-group">
          <label>{{ AppText.cursus.step_name | language }}</label>
          <input ng-model="newBox.name" class="form-control" placeholder="nom de l'étape">
        </div>
      </div>
      <small class="text-turquoise">
        <span ng-click="newBox.displayDetails = true" ng-hide="newBox.displayDetails || true">{{ AppTextp.cursus.show_details | language }}</span>
      </small>

      <div class="form-group" ng-show="newBox.displayDetails">
        <p class="text-turquoise">{{ AppText.cursus.courses_referenced_with_those_keywords | language }}</p>

        <span class="tag" ng-repeat="tag in newBox.tags">
          {{ tag.name }}
          <span ng-show="newBox.editTags === true" class="glyphicon glyphicon-remove" ng-click="newBox.tags.splice( $index, 1)"></span>
        </span>

        <small class="text-turquoise" ng-click="newBox.editTags = true" ng-hide="newBox.editTags">{{ AppText.system.edit | language }}</small>
        <small class="text-turquoise" ng-click="newBox.editTags = false" ng-show="newBox.editTags">{{ AppText.system.terminate | language }}</small>
        <div ng-show="newBox.editTags">
          <!-- input -->
          <input sh-auto-focus="true" type="text" class="form-control" placeholder="+ {{ AppText.browse.add_a_keyword | language }}" typeahead="tag as tag.name for tag in getTypeahead( $viewValue ) | limitTo: 50" typeahead-min-length="3" ng-model="newBox.typedTag" typeahead-editable="false" typeahead-on-select="addTextTag()" style="margin-top: 10px"/>
        </div>
      </div>
      <small class="text-turquoise">
        <span class="text-turquoise" ng-click="newBox.displayDetails = false" ng-show="newBox.displayDetails">{{ AppText.cursus.hide_details | language }}</span>
      </small>
    </div>

    <div class="padding-well" ng-show="newBox.tags.length" style="margin-top: 0; padding-top: 0">

      <p style="margin-bottom: 0" class="bold text-turquoise">{{ AppText.cursus.give_the_dates | language }}</p>
      <div style="display: inline-block; position: relativ; margin: 5px;">
        <p class="input-group">
          <label>{{ AppText.cursus.start_date | language }} 
          </label>
          <input class="form-control" name="fstart" type="text" show-weeks="false" show-button-bar="false" datepicker-popup="dd/MM/yyyy" ng-model="newBox.start_date" is-open="openedBegin" ng-required="true" close-text="Close" editable="false" required/>
        </p>
      </div>

      <div style="display: inline-block; position: relative; margin: 5px;">
        <p class="input-group">
          <label>{{ AppText.cursus.end_date | language }}</label>
          <input class="form-control" name="fend" type="text" show-weeks="false" show-button-bar="false" datepicker-popup="dd/MM/yyyy" ng-model="newBox.end_date" is-open="openedEnd" ng-required="true" close-text="Close" editable="false" required/>
        </p>
      </div>



      <div class="form-group" style="margin-top: 40px">
        <p style="margin-bottom: 0" class="bold text-turquoise">{{ AppText.cursus.select_classes | language }}</p>
        <div ng-show="newBox.itemsLoading">{{ AppText.system.loading | language }} ...</div>
        <div class="list-group">
          <div class="list-group-item" style="border: 0; border-radius: 0" ng-repeat="item in newBox.items" ng-class="{'active': item.selected === true}" ng-click="item.selected = !item.selected">
            <span class="fa" ng-class="{'fa-check-square-o': item.selected === true, 'fa-square-o': item.selected !== true}"></span>
            &nbsp;
            {{ item.name }}
          </div>
        </div>
      </div>
      <div class="clearfix form-group" ng-hide="newBox.itemsLoading || newBox.items.length === 0 || newBox.tags.length === 0">
        <button class="pull-right btn btn-success" ng-click="addBox()" ng-disabled=" newBox.items.length === 0 || (newBox.items | filter: {'selected': true}).length === 0">{{ AppText.sysytem.validate | language }}</button>
      </div>
    </div>
  </div>
</div>
