.add-box {
  & .btn-add-box {
    &:extend( .btn, .btn-lg );
    .button-variant(@blue-pastel, white, white, white);
    width: 100%;
  }
}

.box {
  & .box-description {
    margin-bottom: 20px;
  }
  background-color: white;
  padding: 15px 30px 15px 30px;
  margin: 3px 0 0 0;
  &.internship-box {
    //border: 3px dashed @blue-pastel;
  }
}

.first-of-a-school {
  margin-top: 25px;
  &:first-child {
    margin-top: 3px;
  }
}

