<sh-header></sh-header>

<div class="container" style="margin-bottom: 100px">
  <div ng-show="$location.search().state == 'addingBox' && newBox.type == 'classes'" ng-include="'cursus/addBox.tpl.html'"></div>

  <div ng-show="$location.search().state == 'addingBox' && newBox.type == 'internship'">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="text-turquoise" ng-click="cancelAddBox()"><span class="fa fa-arrow-left"></span> Retour</div>
        <div class="padding-well">
          <sh-add-internship internship="newBox" close="cancelAddBox()"></sh-add-internship>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="$location.search().state">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="alert" ng-class="{'alert-info': alert.type == 'info'}" ng-repeat="alert in alerts">{{ alert.msg }} <small class="glyphicon glyphicon-remove pull-right" ng-click="alerts.splice( $index, 1)"></small></div>

        <div class="bold text-turquoise box">
          <span ng-bind="AppText.cursus.add_step | language"></span> <span ng-bind="boxes[ 0 ].title"></span><span ng-bind="AppText.system.question_mark | language"></span>
        </div>
        <div class="add-box">
          <div class="row">
            <div class="col-md-12">
            </div><!-- col -->
            <!-- add courses -->
            <div class="col-sm-6">
              <div ng-repeat="suggestion in classesSuggestions" class="box-suggestion box-suggestion-blue" ng-click="displayAddSuggestion( suggestion )">
                <span class="fa fa-stack" style="text-align: center">
                  <span class="fa fa-circle fa-stack-2x"></span>
                  <span class="fa fa-plus fa-stack fa-inverse"></span>
                </span>
                {{ suggestion.name }}
              </div>
            </div>

            <!-- add internship -->
            <div class="col-sm-6">
              <div ng-repeat="suggestion in internshipsSuggestions" class="box-suggestion box-suggestion-blue" ng-click="displayAddSuggestion( suggestion )">
                <span class="fa fa-stack" style="text-align: center">
                  <span class="fa fa-circle fa-stack-2x"></span>
                  <span class="fa fa-plus fa-stack fa-inverse"></span>
                </span>
                {{ suggestion.title }}
              </div>
            </div>
          </div><!-- row -->
          <div class="row">
            <div class="col-sm-6">
              <div class="box-suggestion box-suggestion-other" ng-click="">
                <span class="fa fa-stack" style="text-align: center">
                  <span class="fa fa-circle fa-stack-2x"></span>
                  <span class="fa fa-plus fa-stack fa-inverse"></span>
                </span>
                {{ AppText.cursus.something_else | language }}
              </div>
            </div>
          </div>
        </div><!-- add-box -->

      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div><!-- wrapper to use first-child selecotr on first first-of-a-school -->
          <div class="box header-box text-turquoise bold">{{ AppText.cursus.my_course | language }}</div>
          <div class="box" ng-class="{'first-of-a-school': $index !== 0 && firstOfASchool( $index, boxes, box )}" ng-repeat="box in boxes">
            <div class="row">
              <div class="col-md-3">
                <div ng-show="firstOfASchool( $index, boxes, box )">
                  <span class="text-orange bold" 
                    ng-repeat="tag in box.tags | filter: {category: 'school'}">
                    {{ tag.name }}
                  </span>
                </div>
              </div>
              <div class="col-md-9">
                <span class="label label-info pull-right" ng-bind="(box.start_date | date: 'MM/yy') + ' -> ' + (box.end_date | date : 'MM/yy')"></span> 
                <span class="badge badge-emerald" ng-show="box.type == 'internship'" ng-bind="AppText.cursus.internship | language"></span>
                <span class="text-dark-blue bold" ng-bind="box.title" ng-click="box.unfolded = !box.unfolded"></span>
                <div class="box-unfolded" ng-show="box.unfolded">
                  <div class="box-tags">
                    <span ng-repeat="tag in box.tags | filter: {category: '!school'}" class="bold text-emerald" >{{ tag.name }}<span ng-hide="$last">, </span></span>
                  </div><!-- box-tags -->
                  <div ng-show="box.unfolded" class="box-description" ng-bind="box.description"></div>
                  <div ng-show="box.type=='classes'" class="box-classes">
                    <div ng-repeat="item in box.items">
                      <span sh-item-modal="item" itemsList="box.items">{{ item.name }}</span>
                    </div>
                  </div>
                </div><!-- bow-unfolded -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- box -->
        </div><!-- wrapper -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- default state -->
</div><!-- container -->
