<div class="modal-content">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="lead">
          Ajouter un stage
        </div>
        <form name="signupForm" class="css-form">
          <div class="form-group">
            <label>Intitulé du stage</label>
            <input name="fname" type="text" ng-model="internship.name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Adresse</label>
            <input name="fname" type="text" ng-model="internship.adress" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Description</label>
            <input name="fname" type="text" ng-model="internship.description" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Nom de l'entreprise</label>
            <input name="fname" type="text" ng-model="internship.company_name" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Taille de l'entreprise</label>
            <input name="fname" type="text" ng-model="internship.company_size" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Date de début</label>
            <input name="fname" type="text" ng-model="internship.begin_date" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Date de fin</label>
            <input name="fname" type="text" ng-model="internship.end_date" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Domaine</label>
            <input name="fname" type="text" ng-model="internship.domain" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Poste</label>
            <input name="fname" type="text" ng-model="internship.position" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Compétences développées</label>
            <input name="fname" type="text" ng-model="internship.skills" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Dans le cadre de l'école :</label>
            <input name="fname" type="text" ng-model="internship.school" class="form-control" required>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><!-- modal-content -->

