<sh-header></sh-header>
<div class="row main-row">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <alert class="alert alert-info" ng-repeat="alert in alerts" type="alert.type" close="alert.close()" ng-show="alert.msg">
      {{alert.msg}}
      </alert>
    </div>
  </div>
  <form name="form" novalidate class="login-form">
    <div class="modal-dialog">
      <div class="modal-fade">
        <div class="modal-header">
          <h4>{{ AppText.forgot_password.change_pass | language }}</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">{{ AppText.forgot_password.new_pass | language }}</label>
                <input name="password" id="password" class="form-control" type="password" sh-auto-focus="true" ng-model="password" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary login" ng-click="changePassword()">{{ AppText.system.validate | language }}</button>
          <button class="btn btn-warning cancel" ng-click="cancelChangePassword()">{{ AppText.system.cancel | language }}</button>
        </div>
      </div>
    </div>
  </form>
</div>
