<div class="row" ng-click="close()">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-click="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-fade" style="z-index: 10000000000">
        <div class="modal-header" style="border: 0px">
          <button type="button" class="close" ng-click="cancel()">×</button>
          <h6>{{ question }}</h6>
        </div>
        <div class="modal-footer" style="border: 0px">      
          <button class="btn btn-primary pull-right" ng-click="validate()" style="margin-left: 10px">Oui</button>
          <button class="btn btn-warning pull-right" ng-click="cancel()">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>
