.contribute-list-group-item {
  border: 1px solid @green-pastel;
  &:hover {
    background-color: @green-pastel;
    color: white;
    cursor: pointer;
  }
}

.reco-buttons {
}

.emerald-bordered {
  //border: 1px solid @silver;
}

.btn-special {
  & .btn {
    width: 100%;
    border-radius: 5px;
  }
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
  margin: 10px;
  &.btn-special-recommend {
    border-color: @silver;
    & .btn {
      .button-variant(@btn-default-color, @emerald-pastel-d2, @emerald-pastel, @emerald-pastel-d2);
      &:extend( .btn-hg );
    }
  }
  &.btn-special-norecommend {
    border-color: @silver;
    & .btn {
      .button-variant(@btn-default-color, @sunflower-d, @sunflower, @sunflower);
      &:extend( .btn-hg );
    }
  }
  &.btn-special-unrecommend {
    @unrecommend-button-color: @grapefruit; 
    border-color: @silver;
    & .btn {
      &:extend( .btn-hg );
      .button-variant(@btn-default-color, @unrecommend-button-color, lighten( @unrecommend-button-color, 8% ), @unrecommend-button-color);
    }
  }
}

