<sh-header></sh-header>
<div class="" ng-hide="security.isConfirmedStudent()">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-6">
            <p ng-bind="AppText.contribute.contribute_not_student | language"></p>
            <a ng-hide="security.isConfirmedUser()" href="" ng-click="security.showLogin('login_needed_to_contribute')" class="btn btn-info">{{ AppText.contribute.go_identify | language }}</a>
            <a ng-show="security.isConfirmedUser()" href="" ng-click="campusAuthenticationNav()" class="btn btn-info">{{ AppText.contribute.go_identify | language }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" ng-show="security.isConfirmedStudent()">
  <div ng-hide="commentPipe.commentable_items.length || !nexted">
    <div ng-show="security.currentUser.items_count">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
          {{ AppText.contribute.you_did_id | language }}
          <div>
            <button class="btn btn-info" ng-click="cursusAddNav()">{{ AppText.contribute.manage_my_classes | language }}</button>
          </div>
        </div>
      </div>
    </div>

    <div ng-hide="security.currentUser.items_count">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
          {{ AppText.contribute.take_classes | language }}
          <div>
            <button class="btn btn-info" ng-click="cursusAddNav()">{{ AppText.contribute.manage_my_classes | language }}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div ng-show="commentPipe.commentable_items.length">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 col-lg-4" ng-show="loading === false && commentPipe.commentable_items.length === 0" style="text-align: center">
            <div class="shapter-well">
              <p style="margin-top: 50px">{{ AppText.contribute.what_did_you_study | language }}</p>
              <button class="btn btn-hg btn-orange" ng-click="navSf()">{{ AppText.contribute.fill_in_your_cursus | language }}</button>
            </div>
          </div>
          <div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
            <div  style="margin-bottom: 30px; padding-top: 20px;">
              <div ng-repeat="item in commentPipe.commentable_items | filter: {id: activeItem.id}" class="contribute-item-well" ng-class="{'previous': animationState == 'previous', 'next': animationState == 'next'}" style="width: 100%; position: absolute; margin-bottom: 200px">
                <div>
                  <div class="padding-well">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="h4 text-blue" style="margin: 15px 0px 5px 0px;">{{ item.name }}</div> 
                      </div>
                    </div>
                    <sh-item-contribute next="next()" previous="previous()" item="item"></sh-item-contribute>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px">
                  <div class="col-xs-6" style="text-align: left">
                    <div style="padding-left: 20px" ng-click="previous()" class="contribute-caret" ng-show="commentPipe.commentable_items.indexOf( activeItem ) > 0">
                      <div style="display: inline-block; position: relative; vertical-align: middle">
                        <span class="fa fa-2x fa-caret-left"></span>
                      </div>
                      <div style="display: inline-block; position: relative; vertical-align: middle">
                        {{ AppText.system.previous | language }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6" style="text-align: right">
                    <div style="padding-right: 20px" ng-click="next()" class="contribute-caret">
                      <div style="display: inline-block; position: relative; vertical-align: middle">
                        {{ AppText.system.next | language }}
                      </div>
                      <div style="display: inline-block; position: relative; vertical-align: middle">
                        <span class="fa fa-2x fa-caret-right"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
