  <div class="row">
    <div class="col-md-12">
      <div ng-hide="item.current_user_reco_score" class="text-asphalt">{{ AppText.contribute.do_you_recommend | language }}</div>
      <div>
        <span ng-show="item.current_user_reco_score && !item.current_user_has_comment" class="text-asphalt" ng-click="reco(item, 0)"><span class="fa fa-arrow-left"></span> {{ AppText.cursus.cancel_reco | language }}</span>
      </div>
      <div class="h6 bold" style="margin-bottom: 10px; margin-top: 10px" ng-show="item.current_user_reco_score && !item.current_user_has_comment">
        <span class="text-grapefruit" ng-show="item.current_user_reco_score == 1">
          {{ AppText.contribute.explain_unadvise | language }}
        </span>
        <span class="text-sun" ng-show="item.current_user_reco_score == 2">
          {{ AppText.contribute.explain_it_depends | language }}
        </span>
        <span class="text-emerald" ng-show="item.current_user_reco_score == 3">
          {{ AppText.contribute.explan_reco | language }}
        </span>
      </div>
      <div class="reco-buttons" ng-hide="item.current_user_reco_score">
        <div class="btn-special btn-special-recommend">
          <div class="btn" ng-click="item.reco_score(3)"><span class="fa fa-check"></span></div>
        </div>
        <div class="btn-special btn-special-unrecommend">
          <div class="btn" ng-click="item.reco_score(1)"><span class="fa fa-exclamation"></span></div>
        </div>
        <div class="btn-special btn-special-norecommend">
          <div class="btn" ng-click="item.reco_score(2)"><span class="fa fa-question"></span></div>
        </div>
      </div>
      <div ng-show="item.current_user_reco_score" sytle="margin-left: 10px">
        <div ng-hide="item.current_user_has_comment" sh-add-comment item="item"></div>
        <div ng-show="item.current_user_has_comment" sh-comment-light remove="item.current_user_comment = null; item.current_user_has_comment = false" comment="item.current_user_comment"></div>
      </div>
    </div>
  </div>
