<div class="row">
  <div class="col-md-12">
    <div style="margin-bottom: 20px" ng-hide="item.current_user_reco_score" class="text-asphalt">{{ AppText.contribute.do_you_recommend | language }}</div>
    <div>
      <span ng-show="item.current_user_reco_score && !item.current_user_comments_count" class="text-asphalt" ng-click="reco(item, 0)"><small class="glyphicon glyphicon-remove"></small> {{ AppText.cursus.cancel_reco | language }}</span>
    </div>
    <div class="h6 bold when-reco" style="margin-bottom: 10px; margin-top: 20px" ng-show="item.current_user_reco_score && !item.current_user_comments_count">
      <span class="text-grapefruit" ng-show="item.current_user_reco_score == 1">
        {{ AppText.contribute.explain_unadvise | language }}
      </span>
      <span class="text-sun" ng-show="item.current_user_reco_score == 2">
        {{ AppText.contribute.explain_it_depends | language }}
      </span>
      <span class="text-emerald" ng-show="item.current_user_reco_score == 3">
        {{ AppText.contribute.explan_reco | language }}
      </span>
    </div>
    <div class="reco-buttons" ng-hide="item.current_user_reco_score">
      <div class="btn-special btn-special-recommend">
        <div class="btn" ng-click="item.reco_score(3)"><span class="fa fa-check"></span></div>
      </div>
      <div class="btn-special btn-special-unrecommend">
        <div class="btn" ng-click="item.reco_score(1)"><span class="fa fa-exclamation"></span></div>
      </div>
      <div class="btn-special btn-special-norecommend">
        <div class="btn" ng-click="item.reco_score(2)"><span class="fa fa-question"></span></div>
      </div>
    </div>
    <div ng-show="item.current_user_reco_score" sytle="margin-left: 10px" class="when-reco">
      <div ng-hide="item.current_user_comments_count" sh-add-comment item="item"></div>
      <div>
        <span ng-show="item.current_user_comments_count">
          <span class="badge badge-grapefruit" ng-show="item.current_user_reco_score == 1">
            <span class="fa fa-exclamation-circle"></span> {{ AppText.contribute.unadvised | language }}
          </span>
          <span class="badge badge-sun" ng-show="item.current_user_reco_score == 2">
            <span class="fa fa-question-circle"></span> {{ AppText.contribute.it_depends | language }}
          </span>
          <span class="badge badge-emerald" ng-show="item.current_user_reco_score == 3">
            <span class="fa fa-check-circle"></span> {{ AppText.contribute.recommended | language }}
          </span>
        </span>
        <span ng-show="item.current_user_comments_count" sh-comment-light remove="item.current_user_comment = null; item.current_user_comments_count = 0" comment="item.current_user_comment"></span>
      </div>
    </div>
  </div>
</div>
