<div style="height: 100%; overflow: auto" infinite-scroll="loadMoreItems()" infinite-scroll-distance="1" infinite-scroll-disabled="itemsLoading" infinite-scroll-immediate-check="true">
  <sh-header></sh-header>


  <!--
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-sun" style="margin: 20px">
          <span class="fa fa-search"></span> {{ AppText.browse.browse_classes | language }}
          <small><span class="fa fa-question-circle" ng-click="displayInfos = ! displayInfos"></span></small>
        </h2>
      </div>
    </div>
  </div>
  -->

  <div class="asphalt-infos" ng-show="displayInfos">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p ng-bind="AppText.browse.browse_classes_long | language"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom: 500px">
    <div class="row">

      <div class="col-md-3">
        <div class="shapter-well">
          <ul class="nav browse-nav vertical-nav">
            <li ng-click="nav( null )" ng-class="{'active': !$location.search().nav }"><a>{{ AppText.browse.all_classes | language }}</a></li>
            <li ng-click="nav('favourites')" ng-class="{'active': $location.search().nav == 'favourites' }"><a><span class="fa fa-star-o"></span> {{ AppText.browse.favourite_classes | language }}</a></li>
          </ul>
        </div>
      </div><!-- col -->

      <div class="col-md-9">
        <div class="shapter-well" style="padding-bottom: 10px; padding-top: 10px; margin-bottom: 5px">
          <div style="width: 100%;">
            <span class="glyphicon glyphicon-search"></span>
            <span ng-repeat="tag in activeTags">
              <span class="tag-orange">
                {{ tag.name }}
                <span class="glyphicon glyphicon-remove" ng-click="$event.stopPropagation();removeTag( tag )"></span>
              </span>
              <span ng-hide="$last">{{ AppText.browse.and | language }}</span>
            </span>
          </div>

          <!-- input -->
          <input sh-auto-focus="true" type="text" class="form-control" placeholder="+ {{ AppText.browse.add_a_keyword | language }}" typeahead="tag as tag.name for tag in getTypeahead( $viewValue ) | limitTo: 50" typeahead-min-length="3" ng-model="typedTag" typeahead-editable="false" typeahead-on-select="addTextTag()" style="margin-top: 10px"/>


          <ul class="list-inline cat-list nav-justified" style="margin-bottom: 0px; margin-top: 20px; width: auto">
            <!-- some categories -->
            <li class="dropdown" ng-repeat="cat in (categories | catFilter ).display">
              <a class="dropdown-toggle" style="white-space: nowrap" ng-mouseover="getSuggestedTags( cat )">{{ AppText.translateCode( cat )}}<span class="caret turquoise-caret"></span> </a>
              <ul class="dropdown-menu">
                <li ng-hide="tagsSuggestions[ cat ] === undefined || tagsSuggestions[ cat ] == 'loading'" ng-repeat="tag in tagsSuggestions[ cat ]" ng-click="addTag( tag )"><a>{{ tag.name }}</a></li>
                <li ng-show="tagsSuggestions[cat] !== undefined && tagsSuggestions[ cat ].length === 0" class="disabled">
                  <a>
                    {{ AppText.browse.remove_tags | language }}
                  </a>
                </li>
                <li ng-show="tagsSuggestions[ cat ] == 'loading'" class="disabled">
                  <a>
                    <span class="fa fa-refresh fa-spin"></span>
                  </a>
                </li>
              </ul>
            </li>

            <!-- more categories ! -->
            <li class="dropdown">
              <a class="dropdown-toggle" style="white-space: nowrap" ng-mouseover="getRemainingCatSuggestions()">{{ AppText.browse.more | language }}<span class="caret turquoise-caret"></span></a>

              <ul class="dropdown-menu">
                <!-- repat remaining categories -->
                <li ng-repeat="cat in (categories | catFilter).others" ng-show="tagsSuggestions[ cat ].length > 0 && tagsSuggestions[ cat ] != 'loading'">
                    <a class="list-in-dropdown-title">{{ AppText.translateCode( cat ) }}</a>
                    <ul class="list-in-dropdown-list">
                      <li ng-repeat="tag in tagsSuggestions[ cat ]" ng-click="addTag( tag )"><a>{{ tag.name }}</a></li>
                    </ul>
                </li>

                <li class="disabled">
                  <a>
                    {{ AppText.browse.remove_tags | language }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div><!-- shapter-well -->

        <div ng-show="displayCumulateFilters">
          <div class="shapter-well shapter-well-blue" type="info" style="margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px; padding-right: 10px">
            <label style="margin-right: 10px">
              {{ AppText.browse.cumulate_tip | language }} 
          </label>
            <span style="white-space: nowrap">
              <input type="checkbox" id="cumulateFilters" ng-model="cumulateFilters" style="margin: 0">&nbsp;<label class="bold" for="cumulateFilters" style="margin: 0">{{ AppText.browse.cumulate_next_keywords | language }}</label>
            </span>
          </div>
        </div>

        <p class="center bold" style="margin-bottom: 0px; margin-top: 10px">
          <span ng-hide="batchLoading">
            {{ nbItems }} 
            {{ AppText.browse.result | language }}
            <span ng-show="$location.search().nav === 'favourites'">{{ AppText.browse.in_favourites | language }}</span>
          </span>
          <span ng-show="batchLoading"><span class="fa fa-refresh fa-spin"></span></span>
        </p>
        <p class="center"><small class="text-muted" ng-bind="AppText.browse.posessing_keywords | language"></small>
        </p>

        <div class="shapter-well">
          <div class="list-group">
            <div class="list-group-item clearfix" ng-repeat="item in itemsList">

              <div class="pull-right" ng-show="security.isConfirmedStudent()">
                <label ng-click="item.subscribe()" class="text-muted" ng-hide="item.current_user_subscribed">{{ AppText.browse.subscribed | language }}</label>
                <span ng-click="item.unsubscribe()" class="fa fa-check-square-o text-success" ng-show="item.current_user_subscribed"></span>
                <span ng-click="item.subscribe()" class="fa fa-square-o text-muted" ng-hide="item.current_user_subscribed"></span>
              </div>

              <div class="item-title">
                <span  ng-show="security.isConfirmedStudent()">
                  <span class="fa fa-lg fa-star" ng-show="item.current_user_has_in_cart" ng-click="item.uncart()"></span>
                  <span class="fa fa-lg fa-star-o" ng-hide="item.current_user_has_in_cart" ng-click="item.cart()"></span>
                </span>
                <span class="item-name" sh-item-modal="item" items-list="itemsList">{{ item.name }}</span>
              </div>

              <div style="width: 300px; display: inline-block; position: relative; vertical-align: top; width: 300px">
                <div ng-repeat="item in [ item ]" ng-show="item.diagrams_count" >
                  <div class="">
                    <sh-diagram diagram="item.averaged_diagram" width="50" with-text="true"></sh-diagram>
                  </div>
                </div>
              </div>
              <div style="display: inline-block; position: relative; vertical-align: middle">
                <ul class="list-unstyled pointer" sh-item-modal="item" items-list="itemsList">
                  <li> {{ item.comments_count }} {{ AppText.browse.gave_feedbacks | language }}</li>
                  <li>{{ item.documents_count }} {{ AppText.browse.documents_posted | language }}</li>
                  <li><span class="text-info pointer" sh-item-modal="item" items-list="itemsList">{{ AppText.browse.display_item | language }}</span></li>
                </ul>
              </div>
              <!--
              <div style="display: inline-block; position: relative; vertical-align: top">
                <ul class="list-unstyled">
                  <li><span class="">{{ item.comments_count }}</span> {{ AppText.browse.comments | language }}</li>
                  <li><span class="">{{ item.diagrams_count }}</span> {{ AppText.browse.diagrams | language }}</li>
                  <li><span class="">{{ item.documents_count }}</span> {{ AppText.browse.documents | language }}</li>
                </ul>
              </div>
              <div class="pull-right">
              </div>
              -->
            </div>
          </div>
        </div><!-- shapter-well -->
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- infinite scroll -->
