<div class="row" ng-click="close()">
  <div class="col-md-6 col-md-offset-3" ng-click="$event.stopPropagation()">

<form name="form" novalidate class="login-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-fade">
        <div class="modal-header">
          <button type="button" class="close" ng-click="cancelForgotPassword()">×</button>
          <h4>Mot de passe oublié</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12" ng-show="alerts.length">
              <alert class="alert alert-info" ng-repeat="alert in alerts" type="alert.type" close="alert.close()" ng-show="alert.msg">
              {{alert.msg | language}}
              </alert>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="login">Email</label>
                <input name="login" class="form-control" type="email" id="login" ng-model="user.email" sh-auto-focus="true" required>
                <p style="cursor: pointer; margin-top: 15px; margin-bottom: 5px;" ng-click="forgotEmail=true"><a>J'ai oublié mon email</a></p>
                <p style="font-size: 15px; color: grey" ng-show="forgotEmail">Tu le fais exprès ?</p>
                <p style="cursor: pointer; margin-top: 15px; margin-bottom: 5px;" ng-click="rlyForgotEmail=true" ng-show="forgotEmail"><a>Non non je te jure, j'ai vraiment oublié mon email !</a></p>
                <p style="font-size: 15px; color: grey" ng-show="rlyForgotEmail">On peut pas grand chose pour toi malheureusement...</p>
                <p style="cursor: pointer; margin-top: 15px; margin-bottom: 5px;" ng-click="notCool=true" ng-show="rlyForgotEmail"><a>Ah bon ? C'est pas cool :(</a></p>
                <p style="font-size: 15px; color: grey" ng-show="notCool">Désolé, mais en même temps comment tu peux oublier ton email..? C'est un peu comme si t'oubliais ton nom quoi !</p>
                <p style="cursor: pointer; margin-top: 15px; margin-bottom: 5px;" ng-click="gotIt=true" ng-show="notCool"><a>Ah mais oui t'as raison, je m'en souviens maintenant !</a></p>
                <p style="font-size: 15px; color: grey" ng-show="gotIt">Ah bah voilà ! Une nouvelle victoire de Shapter ! Zbeulah !</p>
                <p style="font-size: 11px; color: grey" ng-show="gotIt">Sinon tu peux aussi nous écrire à teamshapter@gmail.com.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary login" ng-click="forgotPassword()">Valider</button>
          <button class="btn btn-warning cancel" ng-click="cancelForgotPassword()">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</form>

</div>
</div>
